In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df_2017 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2017.csv')
df_2018 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2018.csv')
df_2019 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2019.csv')
df_2020 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2020.csv')
df_2021 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2021.csv')
df_2022 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2022.csv')
df_2023 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2023.csv')

In [3]:
# def concatenateData(df_result, df_year, columns):
#     for index, row in df_year.iterrows():
#         if row['stock_code'] not in df_result['stock_code'].values:
#             df_result = pd.concat([df_result, df_year.iloc[index]], ignore_index=True)
#             print(df_result)
#         else:
#             for col in columns[1:]:
#                 if pd.isna(row[col]) is False:
#                     if pd.isna(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0]) is True:
#                         df_result[col].loc[df_result['stock_code'] == row['stock_code']] = row[col]
#                     else:
#                         new_date = datetime.strptime(row[col], '%d/%m/%Y').date()
#                         old_date = datetime.strptime(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0], '%d/%m/%Y').date()
#                         if new_date > old_date:
#                             df_result[col].loc[df_result['stock_code'] == row['stock_code']] = row[col]
#                 else:
#                     continue
#     return df_result

In [4]:
# def concatenateData(df_result, df_year):
#     df_year_columns = df_year.columns.tolist()
#     for index, row in df_year.iterrows():
#         stock_code = row['stock_code']
#         for col in df_year_columns[1:]:
#             if pd.isna(row[col]) is False:
#                 date = datetime.strptime(row[col], '%d/%m/%Y').date()
#                 # print(date)
#                 year = col[4:8]
#                 # print(year)
#                 new_row = {'stock_code': [stock_code], 'release_date': [date], 'report_year': [year]}
#                 df_new_row = pd.DataFrame(new_row)
#                 df_result = pd.concat([df_result, df_new_row], ignore_index=True)
#                 # df_result = df_result.append(each_row, ignore_index=True)
#     return df_result

In [5]:
def concatenateData(df_result, df_year, columns):
    for index, row in df_year.iterrows():
        if row['stock_code'] not in df_result['stock_code'].values:
            each_row = {
                'stock_code': [row['stock_code']], 
                'ESG_2017_rel_date': [row['ESG_2017_rel_date']],
                'ESG_2018_rel_date': [row['ESG_2018_rel_date']],
                'ESG_2019_rel_date': [row['ESG_2019_rel_date']],
                'ESG_2020_rel_date': [row['ESG_2020_rel_date']],
                'ESG_2021_rel_date': [row['ESG_2021_rel_date']],
                'ESG_2022_rel_date': [row['ESG_2022_rel_date']],
                'ESG_2023_rel_date': [row['ESG_2023_rel_date']]
            }
            df_each_row = pd.DataFrame(each_row)
            df_result = pd.concat([df_result, df_each_row], ignore_index=True)
        else:
            for col in columns[1:]:
                if pd.isna(row[col]) is False:
                    if pd.isna(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0]) is True:
                        df_result.loc[df_result['stock_code'] == row['stock_code'], col] = row[col]
                    else:
                        new_date = datetime.strptime(row[col], '%d/%m/%Y').date()
                        old_date = datetime.strptime(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0], '%d/%m/%Y').date()
                        if new_date > old_date:
                            df_result.loc[df_result['stock_code'] == row['stock_code'], col] = row[col]
                else:
                    continue
    return df_result

In [6]:
columns = ['stock_code', 'ESG_2017_rel_date', 'ESG_2018_rel_date', 'ESG_2019_rel_date', 'ESG_2020_rel_date', 'ESG_2021_rel_date', 'ESG_2022_rel_date', 'ESG_2023_rel_date']
df_result = pd.DataFrame(columns=columns)

df_result = concatenateData(df_result, df_2017, columns)
df_result = concatenateData(df_result, df_2018, columns)
df_result = concatenateData(df_result, df_2019, columns)
df_result = concatenateData(df_result, df_2020, columns)
df_result = concatenateData(df_result, df_2021, columns)
df_result = concatenateData(df_result, df_2022, columns)
df_result = concatenateData(df_result, df_2023, columns)

# df_result = df_result.sort_values(by='release_date')
df_result

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
0,00016.HK,31/12/2018,23/12/2019,30/11/2020,30/11/2021,06/10/2022,04/10/2023,NaN
1,00315.HK,24/12/2018,29/12/2019,28/12/2020,30/11/2021,30/11/2022,26/09/2023,NaN
2,01079.HK,22/12/2017,29/11/2018,04/12/2019,08/12/2020,23/11/2021,27/10/2022,27/10/2023
3,00717.HK,27/12/2018,09/01/2020,06/01/2021,28/01/2022,19/01/2023,NaN,NaN
4,00659.HK,21/12/2017,17/12/2018,18/12/2019,22/10/2020,20/10/2021,NaN,17/10/2023
...,...,...,...,...,...,...,...,...
2579,40852.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2580,40853.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2581,40854.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2582,40253.HK,NaN,NaN,NaN,NaN,NaN,27/03/2023,NaN
2583,01833.HK,NaN,NaN,NaN,NaN,NaN,22/03/2023,NaN

In [7]:
# print(df_result.loc[df_result['stock_code'] == '08079.HK'])
# print("__________________________________________________________")
# print(df_2019.loc[df_2019['stock_code'] == '08079.HK'])

In [8]:
# print(df_result.loc[df_result['stock_code'] == '08079.HK'])
# print("__________________________________________________________")
# print(df_2019.loc[df_2019['stock_code'] == '08079.HK'])

In [9]:
# len(df_result)

In [10]:
df_result = df_result.drop(df_result[df_result['stock_code'] == '08079.HK'].index).reset_index(drop=True)
# df_result = df_result.drop(['index'], axis=1)

In [11]:
df_result.iloc[560:565]

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
560,01008.HK,14/05/2018,29/04/2019,27/04/2020,28/04/2021,28/04/2022,27/04/2023,NaN
561,08098.HK,29/06/2017,28/06/2018,27/06/2019,29/06/2020,29/06/2021,28/06/2022,28/06/2023
562,08153.HK,29/06/2017,29/06/2018,02/07/2019,21/09/2020,01/07/2021,14/08/2022,02/07/2023
563,08221.HK,29/06/2017,28/06/2018,27/06/2019,27/08/2020,29/09/2021,11/08/2022,29/06/2023
564,08268.HK,29/06/2017,31/08/2018,30/08/2019,28/08/2020,03/09/2021,26/08/2022,30/06/2023

In [12]:
df_result.to_csv('concatenatedESGData.csv')

In [13]:
# df_result['ESG_2018_rel_date'].loc[df_result['stock_code'] == '08140.HK']

.reset_index(drop=True)

stock_code        00357.HK
release_date    2018-06-28
report_year           2017
Name: 719, dtype: object


stock_code        08401.HK
release_date    2018-06-28
report_year           2017
Name: 721, dtype: object