In [7]:
import pandas as pd
from datetime import datetime

In [8]:
df_2017 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2017.csv')
df_2018 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2018.csv')
df_2019 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2019.csv')
df_2020 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2020.csv')
df_2021 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2021.csv')
df_2022 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2022.csv')
df_2023 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2023.csv')

In [9]:
columns = ['stock_code', 'ESG_2017_rel_date', 'ESG_2018_rel_date', 'ESG_2019_rel_date', 'ESG_2020_rel_date', 'ESG_2021_rel_date', 'ESG_2022_rel_date', 'ESG_2023_rel_date']
df_result = pd.DataFrame(columns=columns)
df_result

Empty DataFrame
Columns: [stock_code, ESG_2017_rel_date, ESG_2018_rel_date, ESG_2019_rel_date, ESG_2020_rel_date, ESG_2021_rel_date, ESG_2022_rel_date, ESG_2023_rel_date]
Index: []

In [10]:
def concatenateData(df_result, df_year):
    for index, row in df_year.iterrows():
        if row['stock_code'] not in df_result['stock_code'].values:
            df_result = df_result.append(row, ignore_index = True)
        else:
            for col in columns[1:]:
                if pd.isna(row[col]) is False:
                    if pd.isna(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0]) is True:
                        df_result[col].loc[df_result['stock_code'] == row['stock_code']] = row[col]
                    else:
                        new_date = datetime.strptime(row[col], '%d/%m/%Y').date()
                        old_date = datetime.strptime(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0], '%d/%m/%Y').date()
                        if new_date > old_date:
                            df_result[col].loc[df_result['stock_code'] == row['stock_code']] = row[col]
                else:
                    continue
    return df_result

In [11]:
df_result = concatenateData(df_result, df_2017)
df_result = concatenateData(df_result, df_2018)
# df_result = concatenateData(df_result, df_2019)
# df_result = concatenateData(df_result, df_2020)
# df_result = concatenateData(df_result, df_2021)
# df_result = concatenateData(df_result, df_2022)
# df_result = concatenateData(df_result, df_2023)
df_result

<ipython-input-10-5c9a03c24f88>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(row, ignore_index = True)

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
0,00016.HK,31/12/2018,NaN,NaN,NaN,NaN,NaN,NaN
1,00315.HK,24/12/2018,NaN,NaN,NaN,NaN,NaN,NaN
2,01079.HK,22/12/2017,29/11/2018,NaN,NaN,NaN,NaN,NaN
3,00717.HK,27/12/2018,NaN,NaN,NaN,NaN,NaN,NaN
4,00659.HK,21/12/2017,17/12/2018,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1661,01611.HK,23/01/2018,NaN,NaN,NaN,NaN,NaN,NaN
1662,00330.HK,16/01/2018,NaN,NaN,NaN,NaN,NaN,NaN
1663,08293.HK,12/01/2018,NaN,NaN,NaN,NaN,NaN,NaN
1664,00158.HK,12/01/2018,NaN,NaN,NaN,NaN,NaN,NaN
1665,00756.HK,02/01/2018,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
print(df_result.loc[df_result['stock_code'] == '08079.HK'])
print("__________________________________________________________")
print(df_2019.loc[df_2019['stock_code'] == '08079.HK'])

    stock_code ESG_2017_rel_date ESG_2018_rel_date ESG_2019_rel_date  \
563   08079.HK        29/06/2017        28/06/2018               NaN

    ESG_2020_rel_date ESG_2021_rel_date ESG_2022_rel_date ESG_2023_rel_date
563               NaN               NaN               NaN               NaN
__________________________________________________________
    stock_code ESG_2017_rel_date ESG_2018_rel_date ESG_2019_rel_date  \
864   08079.HK               NaN               NaN        26/06/2019

     ESG_2020_rel_date  ESG_2021_rel_date  ESG_2022_rel_date  \
864                NaN                NaN                NaN

     ESG_2023_rel_date
864                NaN

In [97]:
df_result.to_csv('concatenatedESGData.csv')

In [96]:
# df_result['ESG_2018_rel_date'].loc[df_result['stock_code'] == '08140.HK']