In [1]:
import datetime
import yfinance as yf
import time

In [2]:
def get_stock_price():
    start = datetime.datetime(2017, 1, 1).date()
    end = datetime.datetime(2017, 12, 31).date()
    # end = start + datetime.timedelta(days=35)
    # print(end)
    stock_data = yf.download("^HSI", start, end)
    # print(stock_data)
    return stock_data

HSI_price = get_stock_price()
HSI_price

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,21993.359375,22189.310547,21883.820312,22150.400391,22150.400391,1302378400
2017-01-04,22201.080078,22228.060547,22076.630859,22134.470703,22134.470703,1437672200
2017-01-05,22302.640625,22483.009766,22230.310547,22456.689453,22456.689453,1830652300
2017-01-06,22583.289062,22605.660156,22445.779297,22503.009766,22503.009766,1389973700
2017-01-09,22561.109375,22626.429688,22476.349609,22558.689453,22558.689453,1303532900
...,...,...,...,...,...,...
2017-12-21,29209.640625,29431.810547,29145.130859,29367.060547,29367.060547,1440980300
2017-12-22,29505.050781,29578.009766,29413.859375,29578.009766,29578.009766,1282144300
2017-12-27,29632.970703,29693.820312,29516.509766,29597.660156,29597.660156,1725832000
2017-12-28,29684.789062,29873.099609,29661.060547,29863.710938,29863.710938,1339575400
2017-12-29,29914.050781,29997.960938,29849.310547,29919.150391,29919.150391,1365770800

In [27]:
cur_day = '01-01-2017'
end_day = '31-12-2017'
cur_day = datetime.datetime.strptime(cur_day, '%d-%m-%Y').date()
end_day = datetime.datetime.strptime(end_day, '%d-%m-%Y').date()
cur_day

datetime.date(2017, 1, 1)

In [28]:
list_trading_day = [day.date() for day in HSI_price.index.tolist()]

In [31]:
holidays = []
while cur_day <= end_day:
    if cur_day not in list_trading_day:
        print(cur_day.strftime('%d-%m-%Y'))
        holidays.append(cur_day.strftime('%d-%m-%Y'))
    cur_day += datetime.timedelta(days=1)

01-01-2017
02-01-2017
07-01-2017
08-01-2017
14-01-2017
15-01-2017
21-01-2017
22-01-2017
28-01-2017
29-01-2017
30-01-2017
31-01-2017
04-02-2017
05-02-2017
11-02-2017
12-02-2017
18-02-2017
19-02-2017
25-02-2017
26-02-2017
04-03-2017
05-03-2017
11-03-2017
12-03-2017
18-03-2017
19-03-2017
25-03-2017
26-03-2017
01-04-2017
02-04-2017
04-04-2017
08-04-2017
09-04-2017
14-04-2017
15-04-2017
16-04-2017
17-04-2017
22-04-2017
23-04-2017
29-04-2017
30-04-2017
01-05-2017
03-05-2017
06-05-2017
07-05-2017
13-05-2017
14-05-2017
20-05-2017
21-05-2017
27-05-2017
28-05-2017
30-05-2017
03-06-2017
04-06-2017
10-06-2017
11-06-2017
17-06-2017
18-06-2017
24-06-2017
25-06-2017
01-07-2017
02-07-2017
08-07-2017
09-07-2017
15-07-2017
16-07-2017
22-07-2017
23-07-2017
29-07-2017
30-07-2017
05-08-2017
06-08-2017
12-08-2017
13-08-2017
19-08-2017
20-08-2017
23-08-2017
26-08-2017
27-08-2017
02-09-2017
03-09-2017
09-09-2017
10-09-2017
16-09-2017
17-09-2017
23-09-2017
24-09-2017
30-09-2017
01-10-2017
02-10-2017
05-10-2017
07-10-2017
08-10-2017
14-10-2017
15-10-2017
21-10-2017
22-10-2017
28-10-2017
29-10-2017
04-11-2017
05-11-2017
11-11-2017
12-11-2017
18-11-2017
19-11-2017
25-11-2017
26-11-2017
02-12-2017
03-12-2017
09-12-2017
10-12-2017
16-12-2017
17-12-2017
23-12-2017
24-12-2017
25-12-2017
26-12-2017
30-12-2017
31-12-2017

In [32]:
holidays

['01-01-2017',
 '02-01-2017',
 '07-01-2017',
 '08-01-2017',
 '14-01-2017',
 '15-01-2017',
 '21-01-2017',
 '22-01-2017',
 '28-01-2017',
 '29-01-2017',
 '30-01-2017',
 '31-01-2017',
 '04-02-2017',
 '05-02-2017',
 '11-02-2017',
 '12-02-2017',
 '18-02-2017',
 '19-02-2017',
 '25-02-2017',
 '26-02-2017',
 '04-03-2017',
 '05-03-2017',
 '11-03-2017',
 '12-03-2017',
 '18-03-2017',
 '19-03-2017',
 '25-03-2017',
 '26-03-2017',
 '01-04-2017',
 '02-04-2017',
 '04-04-2017',
 '08-04-2017',
 '09-04-2017',
 '14-04-2017',
 '15-04-2017',
 '16-04-2017',
 '17-04-2017',
 '22-04-2017',
 '23-04-2017',
 '29-04-2017',
 '30-04-2017',
 '01-05-2017',
 '03-05-2017',
 '06-05-2017',
 '07-05-2017',
 '13-05-2017',
 '14-05-2017',
 '20-05-2017',
 '21-05-2017',
 '27-05-2017',
 '28-05-2017',
 '30-05-2017',
 '03-06-2017',
 '04-06-2017',
 '10-06-2017',
 '11-06-2017',
 '17-06-2017',
 '18-06-2017',
 '24-06-2017',
 '25-06-2017',
 '01-07-2017',
 '02-07-2017',
 '08-07-2017',
 '09-07-2017',
 '15-07-2017',
 '16-07-2017',
 '22-07-2017',
 '23-07-2017',
 '29-07-2017',
 '30-07-2017',
 '05-08-2017',
 '06-08-2017',
 '12-08-2017',
 '13-08-2017',
 '19-08-2017',
 '20-08-2017',
 '23-08-2017',
 '26-08-2017',
 '27-08-2017',
 '02-09-2017',
 '03-09-2017',
 '09-09-2017',
 '10-09-2017',
 '16-09-2017',
 '17-09-2017',
 '23-09-2017',
 '24-09-2017',
 '30-09-2017',
 '01-10-2017',
 '02-10-2017',
 '05-10-2017',
 '07-10-2017',
 '08-10-2017',
 '14-10-2017',
 '15-10-2017',
 '21-10-2017',
 '22-10-2017',
 '28-10-2017',
 '29-10-2017',
 '04-11-2017',
 '05-11-2017',
 '11-11-2017',
 '12-11-2017',
 '18-11-2017',
 '19-11-2017',
 '25-11-2017',
 '26-11-2017',
 '02-12-2017',
 '03-12-2017',
 '09-12-2017',
 '10-12-2017',
 '16-12-2017',
 '17-12-2017',
 '23-12-2017',
 '24-12-2017',
 '25-12-2017',
 '26-12-2017',
 '30-12-2017',
 '31-12-2017']